.error {
    display: flex;
    background-color: #b5271d;
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

h1 {
    margin: 1rem;
    padding: 1rem;
}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    .error {
        margin-bottom: 3rem;
    }
    
}

@media screen and (max-width: 400px) {
    h1 {
        margin: 10px;
        padding: 10px;
        font-size: 14px;
    }
    
}