.btn-outline {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.btn-active {
    box-shadow: 0 0 0 4px #121a40;
    background-color: rgb(44, 115, 221) !important;
}



