.logo {
	color: white;
	font-family: "TT Travels";
	font-size: 7rem;
	padding-top: 100px;
}

@media screen and (max-width: 600px) {
	.logo {
		font-size: 5rem;
	}
	
}

@media screen and (max-width: 400px) {
	.logo {
		font-size: 3rem;
	}
	
}