* {box-sizing: border-box;}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
    flex-direction: column;
	overflow-x: hidden;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../font/TTTravels-ExtraBoldItalic.eot');
    src: url('../font/TTTravels-ExtraBoldItalic.eot?iefix') format('eot'),
    url('../font/TTTravels-ExtraBoldItalic.woff') format('woff'),
    url('../font/TTTravels-ExtraBoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Travels italic';
	src: url('../font/TTTravels-Italic.eot');
	src: url('../font/TTTravels-Italic.eot?iefix') format('eot'),
	url('../font/TTTravels-Italic.woff') format('woff'),
	url('../font/TTTravels-Italic.ttf') format('truetype')
} 

header {
	text-align: center;
	margin-top: 3rem;
}

body {
	background-color: #121a40;
	font-family: "TT Travels";
	color: white;
	margin: 0;
	overflow-x: hidden;
}

.buttons-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem;
	padding: 2rem 3rem;
	width: max-content;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}


@media screen and (max-width: 1400px) {
	.buttons-grid {
		grid-template-columns: 1fr 1fr;
		gap: 2rem 10rem;
	}
}

@media screen and (max-width: 600px) {
	.buttons-grid {
		grid-template-columns: 1fr 1fr;
		gap: 2rem 6rem;
		padding: 1rem;	
	}
	
}

@media screen and (max-width: 400px) {
	.buttons-grid {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 1rem;	
	}
	
}